<div class="master">
  <div class="components">
    <div style="display: flex; flex-direction: row;">
      <div class="kitchen" style="height: 150px; width:400px">
        <app-kitchen></app-kitchen>
      </div>
      <div class="dining" style="width:500px;height: 150px;">
        <app-dining-hall></app-dining-hall>
      </div>
    </div>
    <div style="display: flex; flex-direction: row;">
      <div class="bed1" style="height: 350px;width: 301px;">
        <app-bedroom></app-bedroom>
      </div>
      <div class="bed2" style="height:350px;width: 350px;">
        <app-bedroom></app-bedroom>
      </div>
      <div class="hall" style="height:350px;width:250px;">
        <app-hall></app-hall>
      </div>
    </div>
  </div>