<div class="master">
  <div class="components">
    <div style="display: flex; flex-direction: row;">
      <div class="kitchen">
        <app-kitchen></app-kitchen>
      </div>
      <div class="dining">
        <app-dining-hall></app-dining-hall>
      </div>
    </div>
    <div style="display: flex; flex-direction: row;">
      <div class="bed1" >
        <app-bedroom></app-bedroom>
      </div>
      <div class="bed2" >
        <app-bedroom></app-bedroom>
      </div>
      <div class="hall">
        <app-hall></app-hall>
      </div>
    </div>
  </div>